header{
    margin-top: 4%;
    padding: 4% 0 3% 20%;
    font-family: "Open Sans Condensed", Helvetica, sans-serif  ;
    h1{
        font-size: 4rem;
        font-weight: 500;
    }
    h3{
        font-size: 3rem;
        font-weight: 100;
    }
}